:root {
    --cl-neutral-grey800: #404040;
    --cl-neutral-grey700: #666666;
    --cl-neutral-grey600: #8b8b8b;
    --cl-neutral-grey500: #ababab;
    --cl-neutral-grey400: #c5c5c5;
    --cl-neutral-grey300: #d9d9d9;
    --cl-neutral-grey200: #e9e9e9;
    --cl-neutral-grey100: #f5f5f5;
    --cl-neutral-gradient: linear-gradient(180deg, #ffffff, #000000);
    --cl-neutral-gradient2: radial-gradient(circle, #ff0000, #000000);
    --cl-neutral-gradient3: conic-gradient(from 180deg, #0098fd, #000000);
    --cl-neutral-gradient4: linear-gradient(180deg, #7fff00, #000000);
    --cl-brand-red: #e21f25;
    --cl-brand-brown: #440005;
    --cl-brand-reddark: #b0070b;
    --cl-brand-green: #009e3c;
    --cl-brand-greendark: #007214;
    --cl-brand-beige: #ebe5e0;
    --cl-brand-blue: #309ce8;
    --cl-functional-info: #0d7ad9;
    --cl-functional-warning: #cd970e;
    --cl-functional-error: #fa4d53;
    --cl-functional-success: #2bbf4d;
    --cl-functional-infobg: #cbe5fb;
    --cl-functional-warningbg: #f9e4b8;
    --cl-functional-errorbg: #fdedee;
    --cl-functional-successbg: #d0f1c6;
    --cl-palletes-red-red0: #fdedee;
    --cl-palletes-red-red100: #fbd1d3;
    --cl-palletes-red-red200: #fab2b7;
    --cl-palletes-red-red300: #f9898e;
    --cl-palletes-red-red400: #fa4d53;
    --cl-palletes-red-red500: #d00b12;
    --cl-palletes-red-red600: #a90407;
    --cl-palletes-red-red700: #7c0303;
    --cl-palletes-red-red800: #4b0301;
    --cl-palletes-red-red900: #280200;
    --cl-palletes-green-green0: #e9f7df;
    --cl-palletes-green-green100: #d0f1c6;
    --cl-palletes-green-green200: #9fe898;
    --cl-palletes-green-green300: #60db69;
    --cl-palletes-green-green400: #2bbf4d;
    --cl-palletes-green-green500: #009e3c;
    --cl-palletes-green-green600: #026e1b;
    --cl-palletes-green-green700: #014706;
    --cl-palletes-green-green800: #042b00;
    --cl-palletes-green-green900: #061900;
    --cl-palletes-yellow-yellow0: #fdf0dd;
    --cl-palletes-yellow-yellow100: #f9e4b8;
    --cl-palletes-yellow-yellow200: #f5d389;
    --cl-palletes-yellow-yellow300: #f2c65f;
    --cl-palletes-yellow-yellow400: #eeb32b;
    --cl-palletes-yellow-yellow500: #cd970e;
    --cl-palletes-yellow-yellow600: #aa7f09;
    --cl-palletes-yellow-yellow700: #7c5c04;
    --cl-palletes-yellow-yellow800: #473501;
    --cl-palletes-yellow-yellow900: #292000;
}